<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="icon" href="images\logo-mercado-liebre.svg"> 
    <link href="css/style.css" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />

 </head>
<body> <header>
<div class="encabezadoCompleto">
    <div class=" encabezado">
        <img src="images\logo-mercado-liebre.svg" alt="">
    </div>
       <div class="search">
       <form action="#" method="GET"></form>
        <label for="search-bar" class="label-buscador"><input type="search" class="buscador" placeholder="Buscar productos, marcas y más"><i class="fa fa-search"></i></label> 
    </div> 
    <p class="cuotas"> <i class="fas fa-hand-holding-usd"> </i> comprá en cuotas y sin tarjeta de credito</p>            
</div>  
        <nav>
        <ul class="nav-links-left">
        <a href = "/ofertas"><li>Ofertas</li> </a>
        <a href = "/tiendasoficiales"><li>Tiendas Oficiales</li> </a>
        <a href = "/vender"><li>Vender</li> </a>
        <a href = "/ayuda"><li>Ayuda</li> </a></ul>
        <ul class="nav-links-right">
        <a href = "/creatucuenta"><li>Crea tu cuenta <i class="fas fa-user-circle"></i></li></a>
        <a href = "/ingresa"><li>Ingresa <i class="fas fa-sign-in-alt"></i></li> </a>
        <a href = "/mascompras"><li>Mas Compras <i class="fas fa-shopping-basket"></i></li> </a>
        </ul>
    </nav>
    <section class="burgermenu"><i class="fas fa-bars"></i></section>
    </header>
    
    <section class = "banner">
        <img src="\images\img-home-banner.jpg">
    </section>
    <main class = "menu">
        <h2>Ofertas</h2>
        <div class= "productos">
        <article class=" articulos"> 
            <img src = "images\img-cafetera-moulinex.jpg" alt="">
            <div class = "info">
            <i class="fas fa-truck"></i>
            <p class="precio">$6.770</p>
            <p class="descuentos">40% off</p>
            <p class="descripciones">Cafetera Moulinex</p>
           </div>
         </article>
         <article class="articulos">
            <img src="images\img-macbook-pro-2019.jpg" alt="">
            <div class = "info">
            <i class="fas fa-truck"></i>
            <p class="precio">$230.000</p>
            <p class="descuentos">20% off</p>
            <p class="descripciones">MacBook Pro 2019</p>
            </div>
         </article> 
            <article class="articulos">
                <img src="images\img-samsung-galaxy-s10.jpg" alt="">
                <div class = "info">
                <i class="fas fa-truck"></i>
                <p class="precio">$70.500</p>
                <p class="descuentos">10% off</p>
                <p class="descripciones">Samsung Galaxy S10</p>
            </div></article>
            <article class="articulos">
                <img src="images\img-tv-samsung-smart.jpg" alt="">
                <div class = "info">
                <i class="fas fa-truck"></i>  
                <p class="precio">$23.200</p>
                <p class="descuentos">5% off</p>
                <p class="descripciones">SmartTv Samsung 43"</p>
                </div></article>
        </div>
        <section class = "ultimas visitas">
            <h2>Basado en tus últimas visitas</h2>
            <div class="productosVisitas">
            <article>
                <img src = "images\img-cafetera-moulinex.jpg" alt="">
                <div class = "info">
                <i class="fas fa-truck"></i>
                <p class = "precio">$6.770</p>
                <p class="descuentos">40% off</p>
                <p class="descripciones">Cafetera Moulinex</p>
            </div>
             </article>
             <article>
                <img src="images\img-macbook-pro-2019.jpg" alt="">
                <div class = "info">
                <i class="fas fa-truck"></i>
                <p class="precio">$230.000</p>
                <p class="descuentos">20% off</p>
                <p class="descripciones">MacBook Pro 2019</p>
            </div></article>
                <article>
                    <img src="images\img-samsung-galaxy-s10.jpg" alt="">
                    <div class = "info">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$70.500</p>
                    <p class="descuentos">10% off</p>
                    <p class="descripciones">Samsung Galaxy S10</p>
                </div> </article>
                <article>
                    <img src="images\img-tv-samsung-smart.jpg" alt="">
                    <div class = "info">
                    <i class="fas fa-truck"></i>
                    <p class="precio">$23.200</p>
                    <p class="descuentos">5% off</p>
                    <p class="descripciones">SmartTv Samsung 43"</p>
                </div></article>
            </div>
        </section>
    </main>
    <footer>
        <section class = "forma de pago">
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
         </section>
        <section class = "envio">
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $2500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos. </p>
        </section>
        <section class = "seguridad">
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
        </section>
        </footer>
        <section class = "derechos">
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
   
</body>

</html>