body {background-color:lightgray;
    font-family: roboto;
    font-size: 14px;

}
header {
    width:100vw;
    background: #E2D517;
    position:fixed;
    top:0px
}

header img{
    width:230px
}
main.register{
    margin-top:80px;
    width: 300px;
     }
div.datos-registro{
    margin-top:10px;
    display:flex;
    flex-direction: column;
    align-items: stretch;
    align-content: center;
}
button{
    width:80px;
    height: 25px;
    margin-top:9px;
    border-radius: 8px solid gray;
    transition: all 0.3s ;
}
button:hover{
 background-color:rgb(78, 53, 238) ;
 color:antiquewhite;
}